@model _24dh113277_MyStore.Models.ViewModel.HomeProductVM
@{
    ViewBag.Title = "Customer Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/myStyle/CustomerHome.css" />


﻿@* PHẦN BANNER *@
<section class="banner">
    <div class="banner-container">
        <h2>Chào mừng đến trang web E-commerce</h2>
        <p>Mua sắm trực tuyến với hàng ngàn sản phẩm đa dạng và chất lượng</p>
        <a href="#" class="btnBanner">Bắt đầu mua sắm</a>
    </div>
</section>

@* PHẦN TÌM KIẾM SẢN PHẨM *@
<section class="searchProd">
    <h2>Tìm kiếm sản phẩm</h2>
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Nhập từ khóa ...">
        <button class="search-button">Tìm kiếm</button>
    </div>
</section>

<hr />

@* PHẦN SẢN PHẨM NỔI BẬT *@
<section id="featuredProd">
    <h2>Sản phẩm nổi bật</h2>
    <div class="feature-container">

        <div class="product-item">
            <img src="https://thegioiso365.vn/wp-content/uploads/2025/07/3813_2712_2705_2697_2687_2321_1.jpg" />
            <h3 class="prodName">Acer Nitro 5 Tiger</h3>
            <p class="prodDescription">Mỏng nhẹ, giá sinh viên</p>
            <p class="prodPrice">9.999.999đ</p>
        </div>

        <div class="product-item">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/g/r/group_659_5__2.png" />
            <h3 class="prodName">HP 15 DQ màu bạc</h3>
            <p class="prodDescription">Cấu hình mạnh, phù hợp game thủ</p>
            <p class="prodPrice">8.999.999đ</p>
        </div>

        <div class="product-item">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/g/r/group_744_1__1_1.png" />
            <h3 class="prodName">ThinkPad X1504ZA</h3>
            <p class="prodDescription">Phong cách doanh nhân</p>
            <p class="prodPrice">29.999.999đ</p>
        </div>

    </div>
</section>

<hr />

<section class="productList">
    <h2>Danh sách sản phẩm</h2>
    <ul class="list-container">

        <li class="lproduct-item">
            <img src="https://thegioiso365.vn/wp-content/uploads/2025/07/3813_2712_2705_2697_2687_2321_1.jpg" />
            <h3 class="prodName">Acer Nitro 5 Tiger</h3>
            <p class="prodDescription">Mỏng nhẹ, giá sinh viên</p>
            <p class="prodPrice">9.999.999đ</p>
        </li>

        <li class="lproduct-item">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/g/r/group_659_5__2.png" />
            <h3 class="prodName">HP 15 DQ màu bạc</h3>
            <p class="prodDescription">Cấu hình mạnh, phù hợp game thủ</p>
            <p class="prodPrice">8.999.999đ</p>
        </li>

        <li class="lproduct-item">
            <img src="https://cdn2.cellphones.com.vn/insecure/rs:fill:358:358/q:90/plain/https://cellphones.com.vn/media/catalog/product/g/r/group_744_1__1_1.png" />
            <h3 class="prodName">ThinkPad X1504ZA</h3>
            <p class="prodDescription">Phong cách doanh nhân</p>
            <p class="prodPrice">29.999.999đ</p>
        </li>

    </ul>
</section>
